@model PetConnect.ViewModels.AssignUserShelterViewModel

@{
    ViewData["Title"] = "Update an user to a shelter";
}



<h2>Update User assigned to Shelter</h2>

<form asp-action="Update" method="post"
      asp-route-userId="@Model.UserId"
      asp-route-shelterId="@Model.ShelterId">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="UserId" />
 
   
    <div asp-validation-summary="All" class="text-danger"></div>

 

    <div class="mb-3">
        <label>User</label>
        <input class="form-control" value="@Model.Users.FirstOrDefault(x => x.Value == Model.UserId)?.Text" readonly />
    </div>

    <div class="mb-3">
        <label>Shelter</label>
        <input class="form-control" value="@Model.Shelters.FirstOrDefault(x => x.Value == Model.ShelterId.ToString())?.Text" readonly />
    </div>


 

    <div class="mb-3">
        <label>Role</label>
        <select asp-for="RoleInShelter"
                asp-items="Model.Roles"
                class="form-control">
        </select>
    </div>

    <button type="submit" class="btn btn-primary">
        Assign User
    </button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
