@model PetConnect.ViewModels.AdopterViewModel
@{
    ViewData["Title"] = "Adopter Details";
}


<h2>@Model.FullName Details</h2>
<hr />


<div class="row">
    <div class="col-sm-6">
        <h4>Basic Information</h4>
        <hr />

        <dl>

            <dt class="col-sm-4">Full Name</dt>
            <dd class="col-sm-8">@Model.FullName</dd>

            <dt class="col-sm-4">Address </dt>
            <dd class="col-sm-8">@Model.Address</dd>

            <dt class="col-sm-4">City</dt>
            <dd class="col-sm-8">@Model.City</dd>

            <dt class="col-sm-4">State</dt>
            <dd class="col-sm-8">@Model.State</dd>

            <dt class="col-sm-4">Postal Code</dt>
            <dd class="col-sm-8">@Model.PostalCode</dd>

            <dt class="col-sm-4">Phone Number</dt>
            <dd class="col-sm-8">@Model.PhoneNumber</dd>

            <dt class="col-sm-4">Email</dt>
            <dd class="col-sm-8">@Model.Email</dd>

            <dt class="col-sm-4">Shelter</dt>
            <dd class="col-sm-8">@Model.ShelterName</dd>

        </dl>
    </div>

    <div class="col-md-6">
        <h4>Household Information</h4>
        <hr />

        <dl class="row">
            <dt class="col-sm-5">Other Pets</dt>
            <dd class="col-sm-7">@(Model.HasOtherPets ? "Yes" : "No")</dd>

            <dt class="col-sm-5">Small Children</dt>
            <dd class="col-sm-7">@(Model.HasChildren ? "Yes" : "No")</dd>

            <dt class="col-sm-5">Has Yard</dt>
            <dd class="col-sm-7">@(Model.HasYard ? "Yes" : "No")</dd>
        </dl>
    </div>

</div>


<div class="mt-3">
    <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-warning">Update</a>

    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

